{% extends "g4emma/base.html" %}

<!-- Title -->
{% block title %}{{ block.super }} - Multiple Scattering{% endblock %}

<!-- Navigation -->
{% block nav_tools_class %}nav-pill-active{% endblock %}
{% block nav_drpbtn_class %}dropbtn-active{% endblock %}
{% block nav_multiscatt_url %}#{% endblock %}

<!-- Main Content -->

{% block main_content %}




	<h2 id="submit_msg">Multiple Scattering Calculation</h2>
	<br>
	<p> The angular distribution after scattering is evaluated with a modified NSW model detailed in "Multiple Scattering of Charged Particles" by Marion and Zimmerman, 1966. A Gaussian (normalized to unity at angle=0) is fit to the model distribution such that it has the same width as the distribution at the 1/e point. Integrals and functions are solved numerically with Python. 
			</p>

<!--	{% if form.errors %}
		<p style="color: red;">
			Please correct the error{{ form.errors|pluralize }} below.
		</p>
	{% endif %}
//-->	
	<form id="multiplescattering_form" action="" method="post">
    		<ul>
      			<div class="{{form.name}}">
         		{{ form.as_ul }}
        		</div>
    		</ul>
    		{% csrf_token %}
    		<input type="submit" value="Submit">
 	</form>

	{% if sigma > 0.0 and FWHM > 0.0 %}
		<br>
		<br>
		<ul>
		<p> Gaussian Distribution Parameters: </p>
		<p> Standard Deviation = {{sigma}} mrad ({{sigma_deg}} deg)</p>
		<p> FWHM = {{FWHM}} mrad ({{FWHM_deg}} deg) </p>
		<br>
		<p> Model Parameters: </p>
		<p> B = {{B_param}} </p>
		<p style="color: red;"> The model is valid for B between 4 and 15 </p>   
		</ul>
	{% endif %}


{% endblock %}



